


/*Modif général*/
html{
    width: 1550px; 
}

body{
    font-family: "roboto", sans-serif;
    display: grid;
    box-sizing: border-box;
    width: 100%;
}

h4{
    font-weight: normal;
}

h1{
    color: rgb(70, 69, 69);
    font-weight: bold;
}

h2{
    color: rgb(95, 94, 94);
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}

h3{
    font-weight: normal;
    color: rgb(95, 94, 94);
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*Banner*/

banner{
    display: inline-flex;
    width: 100%;
    height: 64px;
    align-items: center;
}

.banner--right {
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
    column-gap: 16px;
    margin-right: 24px;
    align-items: center;
    color: rgb(95, 94, 94);
}

.logo{
    display: inline-flex;
    justify-content: start;
    width: 50%;
    height: 32px;
    align-items: center;
    color: rgb(95, 94, 94);
    font-family: "unbutu", sans-serif;
    font-weight: bold;
}

a{
    color: rgb(204, 201, 201);
    font-weight: normal;
}

/*Part 1*/ 

.presentation{
    display: inline-flex;
    justify-content: center;
    background-color: rgb(204, 201, 201);
    width: 100%;
    
}

.titre-presentation{
    font-size: 60px;
}

.image-presentation{
    display: inline-flex;
    justify-content: start;
    margin-left: 24px;
    margin-top: 32px; 
    margin-bottom: 32px;
    width: 58.5%; 
}

.presentation-text{
    display: inline-flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
    width: 70%;    
}

button{
    color : white;
    background-color: rgb(70, 69, 69); 
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
    margin-right: 60px;   
    cursor: pointer;
    border-color: rgb(70, 69, 69);
    list-style: none;
    border-style: none;
}


/*PARTIE 2 */

.informations{
    display: inline-flex;
    width: 100%;
}

/*LEFT*/ 

.information-left{
    display: inline-flex;
    width: 60%;
    flex-direction: column;
}

.image-information{
    display: inline-flex;
    justify-content: start;
    margin-left: 24px;
    margin-top: 32px; 
}

.text-information{
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 24px;
}

/*RIGHT*/ 

.information-right{
    display: inline-flex;
    flex-direction: column;
    padding-left: 24px;
}

.articles-information{
    display: inline-flex;
    
}

.image-article{
    height: auto;
    width: 35%;
    margin: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}

aside{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

anchor{
    color: rgb(0, 140, 255);
}
